@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" style="font-size: 20px; font-family: 'Times New Roman'">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" style="font-size: 20px; font-family: 'Times New Roman'">
    An unhandled error has occurred.
    <a href="" class="reload" style="font-size: 20px; font-family: 'Times New Roman'">Reload</a>
    <a class="dismiss">🗙</a>
</div>
