@page "/"

<PageTitle>Home</PageTitle>

<h1 style="font-size: 50px; font-family: 'Times New Roman'">Hello, world!</h1>
<h2 style="font-size: 20px; font-family: 'Times New Roman'">Welcome to your new app.</h2>
